* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.game-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #f2f2f2;
}

.game-info {
    width: 300px;
    padding: 20px;
}


.timer {
    background: cornsilk;
    color: palevioletred;
    font-size: 30px;
    text-align: center;
    width: 100px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 20px auto 0;
}

.end-button {
    font-size: 20px;
    margin-top: 20px;
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.intro {
    text-align: center;
}

.container {
    display: grid;
    gap: 1rem;
    max-width: 960px;
    margin: auto;
    padding: 20px;
}

.container-5 {
    grid-template-columns: repeat(5, 1fr);
}

.container-6 {
    grid-template-columns: repeat(6, 1fr);
}

.cell div {
    height: 105px;
    border-radius: 4px;
}

.cell {
    position: relative;
    cursor: pointer;
}

.front {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #a6a6a6;
    background-color: #f2f2f2;
    transform: rotateY(90deg);
}

.back {
    background-color: lightpink;
}

img {
    height: 100px;
    width: 100px;
}

.flip {
    transform: rotateY(0deg);
}